APP_ENV=local
APP_PORT=8080
MYSQL_DSN=root:root@tcp(127.0.0.1:3306)/mmo3dnewdream?parseTime=true&charset=utf8mb4&loc=Local
JWT_SECRET=change_me
PAGSEGURO_BASE_URL=https://sandbox.api.pagseguro.com
PAGSEGURO_TOKEN=Bearer YOUR_PAGSEGURO_TOKEN
